---
import '~/styles/timr.css';
import ContentSection from '~/components/content-section.astro';
---

<ContentSection id='' title='Roadmap to Cyber Security v0.1' >
	<section class="timeline-section">
		<div class="timeline-items">
			<div class="timeline-item">
				<div class="timeline-dot"></div>
				<div class="timeline-date">Lesson 1</div>
				<div class="timeline-content">
					<h3>Cyber Security Introduction</h3>
					<p class="text-left">
						Lesson 1 ini akan menjadi awal perjalanan kamu untuk belajar
						mengenal Cyber Security. Pada Lesson ini kamu akan mempelajari
						banyak hal dari CIA Triad hingga Hashing. <br /><br />
						Lesson 1 berisi:<br />
						- Intro to Cyber Security <br />
						- The CIA Triad <br />- OSI Layer <br />
						- Identity Access Management <br />
						- Security Governance (Policies, Standards and Procedures) ISO27001,
						GDPR, HIPAA, OWASP, PCI DSS, NIST <br />
						- Cryptography <br />
						- Hashing <br />
						- Quiz & Practice: Lab Cryptography Lab Hashing
					</p>
				</div>
			</div>
			<div class="timeline-item">
				<div class="timeline-dot"></div>
				<div class="timeline-date">Lesson 2</div>
				<div class="timeline-content">
					<h3>Network Security</h3>
					<p>
						Jika kamu berhasil menyelesaikan lesson satu dengan baik maka
						perjalanan selanjutnya yaitu mengenal lebih dalam apa itu network
						security pada lesson 2 ini.<br /><br />

						Lesson 2 berisi: <br />
						- OSI Layer & TCP/IP <br />
						- DNS <br />
						- Security Protocol: SSL/TLS, IPSec, VPNs, SSH, HTTPS <br />
						- Firewall  Next Gen Firewall <br />
						- Quiz & Practice:  Lab Port Scanning
					</p>
				</div>
			</div>
			<div class="timeline-item">
				<div class="timeline-dot"></div>
				<div class="timeline-date">Lesson 3</div>
				<div class="timeline-content">
					<h3>Cyber Security Domain & Team Classification</h3>
					<p class="text-left">
						Pada lesson ke 3 ini kamu akan kami ajak mengenal Cyber Security
						Domain serta classificationnya. Kamu akan merasa tertantang lebih
						dalam dengan materi yang ada pada lesson ini.<br /><br />
						Lesson 3 ini berisi: <br />
						- Security Architecture <br />
						- Risk Assessment <br />
						- Threat Intelligence <br />
						- GRC <br />
						- Security Operation <br />
						- Physical Security <br />
						- Team Classification: Red Team, Blue Team, Purple Team, Gray Team
						<br />
						- Quiz
					</p>
				</div>
			</div>
			<div class="timeline-item">
				<div class="timeline-dot"></div>
				<div class="timeline-date">Lesson 4</div>
				<div class="timeline-content">
					<h3>Malware & Ransomware</h3>
					<p>
						Lesson 4 ini akan membantu kamu untuk mengenal Malware & Ransomware
						hingga kamu akan mengenal beberapa bentuk virusnya. Pada lesson ini
						kamu akan cukup membuat kamu untuk lebih penasaran dengan lesson
						berikutnya.<br />
						<br />
						Lesson 4 berisi: <br /> - Introduction to Malware <br />
						- Introduction to Ransomware <br /> - Virus & Trojan <br /> - Spyware,
						Rootkit <br />
						- Antimalware <br /> - Quiz
					</p>
				</div>
			</div>
			<div class="timeline-item">
				<div class="timeline-dot"></div>
				<div class="timeline-date">Lesson 5</div>
				<div class="timeline-content">
					<h3>Cyber Security Types of Attack</h3>
					<p class="text-left">
						Pada lesson ke 5 ini kamu akan kami ajak mengenal Cyber Security
						Types of Attacck. Lesson ini akan membawamu jauh mengenal
						cybersecurity.<br />
						<br />
						Lesson 3 ini berisi: <br />- Password Attack <br />- Dos & DDOS <br
						/>- DNS Attack <br />- Network Attack <br />- MITM <br />- Social
						Engineering <br />- SQL Injection <br />- Tools for CyberSecurity
						Attack <br />- Quiz & Practice: Lab SQL Injection
					</p>
				</div>
			</div>
			<div class="timeline-item">
				<div class="timeline-dot"></div>
				<div class="timeline-date">Lesson 6</div>
				<div class="timeline-content">
					<h3>Cyber Security Defenses</h3>
					<p>
						Pada lesson 6 ini kamu akan belajar serangkaian strategi, teknologi,
						dan tindakan yang dirancang untuk melindungi sistem komputer,
						jaringan, dan data dari ancaman cyber. Akan banyak sekali materi
						yang diberikan pada lesson ini. <br />
						<br /> Lesson 6 berisi: <br />- Antivirus <br />- MFA <br />-
						Encryption <br />- Password Management <br />- Backups <br />-
						Update <br />- Incident Response <br />- Firewall  NGFW  WAF <br
						/>- Security Operation 
						<br>- SIEM 
						<br>- VPN 
						<br>- DLP 
						<br>- IPS/IDS 
						<br>- Threat
						Intelligence 
						<br>- SOAR 
						<br>- SOC 
						<br>- Alerting <br />- Tools of CyberSecurity
						Defenses 
						<br>- WAF -> Cloudflare, F5, AKAMAI, IMPERVA 
						<br>- NGFW -> PALO
						ALTO 
						<br>- SOC -> Sentinel One, CrowdStrike, Mandiant, Microsoft
						Sentinel Quiz & Practice: 
						<br>- Google Authenticator.
					</p>
				</div>
			</div>
		</div>
	</section>

</ContentSection>