---
import { Image } from 'astro:assets';
import Background from './Content/videoBaground.astro';
import Hacker from '~/assets/Hacker-pana.png';

const widths = [1000, 1000];
const sizes = '(min-width: 640px) 10vw, 10vw';
---

<section class="relative h-full w-full">
	<Background />
	<center>
		<div class="grid grid-rows-2" >
			<div class="mt-[1rem]">
				<h1
			class=" mx-[0.2rem] py-[4rem] text-4xl max-sm:py-[4rem] max-sm:text-2xl max-xl:py-[4rem]">
		   Dapatkan Kesempatan <span class="text-[#f5ba20] font-extrabold"> Kerja Di Bidang <br class="max-md:hidden" > Cyber Security</span> 
			<p class="mt-[1rem] text-white text-sm w-[90%]">
				90% Profesional Cyber Security Menyatakan Portfolio <br class="max-sm:hidden" > Sangat Penting Untuk Bekerja
			</p>
			<p class="mt-[1rem] text-sm max-sm:mt-[1.5rem]">
				Gaji Rata Rata Cyber Security Berkisar <span
					class="font-bold text-[#f5ba20]">
					<br class="xl:hidden" />Rp.7.000.000 - Rp. 15.000.000</span
				>
			</p>
		</h1>
			</div>

			<div>
				<Image
				src={Hacker}
				alt="ilustration"
				class="mt-[-4rem] w-[355px] max-xl:w-[350px] max-sm:w-[340px] "
			/>
			<button class="bg-[#f5ba20] px-[5rem] py-3 rounded-md hover:bg-transparent border-2 border-[#f5ba20] transition-all duration-500 max-sm:px-[5rem]" >
				<a>Join Now</a>
			</button>
			</div>
		</div>
		
			
		
	</center>
</section>

<noscript>
	<style>
		#splash-bg-fallback {
			display: block;
		}
	</style>
</noscript>

<style>
	@keyframes float {
		0% {
			transform: translate3d(0, 0, 0);
		}
		100% {
			transform: translate3d(0, 30px, 0);
		}
	}

	@media (prefers-reduced-motion: reduce) {
		#astronaut {
			@apply animate-none;
		}
		:global(#starfield) {
			@apply hidden;
		}
		#splash-bg-fallback {
			@apply block;
		}
	}
</style>
